@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');

.mydiv {
    background-color: rgb(34, 33, 58);
    color: white;
    font-family: 'Roboto', sans-serif;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    display: block;
    border: solid 5px rgba(255, 255, 255, 0.562);
    border-radius: 50px;
    text-align: center;
    margin-top: 5cm;
    transition-duration: 250ms;
}

.mybtn {
    background-color: rgb(34, 33, 58);
    color: white;
    font-family: 'Roboto', sans-serif;
    height: 2cm;
    width: 5cm;
    margin: 0 auto;
    display: block;
    border: solid 5px rgba(255, 255, 255, 0.562);
    border-radius: 50px;
    text-align: center;
    margin-top: 10cm;
    transition-duration: 250ms;
}

.mybtn:hover {
    border-color: white;
    background-color: rgb(75, 73, 122);
    box-shadow: 15px 0px 0px rgb(36, 36, 61);
}

.mybtn:active {
    width: 6cm
}

body {
    background-color: rgb(26, 26, 26);
}

p {
    margin: 50px auto;
}

.mydiv:hover {
    border-color: white;
    transition: height 6cm, width 11cm ;
    background-color: rgb(75, 73, 122);
    box-shadow: 15px 0px 0px rgb(36, 36, 61);
}