@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

#root {
    height: 100%;
}

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin-top: 20%;
    color: rgb(216, 216, 216);
}

@keyframes arrow {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 10px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.hero {
    height: 100vh;
}

.about {
    height: 120vh;
    background-color: rgb(12, 12, 12);
}

.techs {
    height: 110vh;
}

b {
    font-size: large;
    text-shadow: rgb(160, 160, 160) 5px 5px 20px;
}

.card {
    font-size: 20px;
    margin-bottom: 5px;
    width: fit-content;
}
.card.holder {
    background-color: rgb(24, 24, 24);
    width: 100%;
}
.card.bg {
    display: inline-block;
    height: 100%;
    margin-bottom: 5rem;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(14, 14, 14);
    height: 20vh;
}

.arrow {
    animation-name: arrow;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}